:root {
  --faceplate-bg: #f1f3f4;
  --faceplate-tabs: rgb(112, 112, 112);
  --faceplate-tab-active-bg: rgb(228, 228, 228);
  --scroll-thumb-bg: rgba(64, 158, 255, 0.6);
  --scroll-track-bg: rgba(153, 153, 153, 0.5);
  --empty-text: rgba(112, 112, 112, 0.8);
}
